- @posts.each do |post|				
	-# This loops all the posts
	%h2= link_to post.title, post 	
	-# Each post link, embedded in the title of the post

= link_to "Add New Inspiration", new_post_path
-# Links to new post, embedded in Add New Inspiration